<%= render "layouts/header" %>

<main> 
    
  <!-- 年間行事 -->
  <section class="position-relative pt-5" id="sec6">
    <div class="bg-lightblue half half-info"></div>
    <div class="container text-center position-relative bg-lightblue">
      <h2 class="h3 dot font-weight-bold pt-3 pb-5 px-0 mb-0">年間行事</h2>
    </div>
    <div class="bg-lightblue pb-5">
      <div class="container pb-5"> 
          
        <!---------------------------------------- 春 ---------------------------------------->
        <div class="row py-4">
          <div class="col-md-5">
            <div class="row mb-3 mx-0 mx-md-3">
              <div class="col-4">
                <div class="position-absolute bg-info rounded-circle season">
                  <div class="text-center text-white pt-2 h2 rounded-circle">春</div>
                </div>
              </div>
              <div class="col-8">
                <ul class="list-unstyled">
                  <li>4月 入園式
                    <ul class="list-unstyled pl-3">
                      <li>説明が入ります。</li>
                    </ul>
                  </li>
                  <li>4月 新入園児歓迎会</li>
                  <li>5月 親子遠足</li>
                </ul>
              </div>
            </div>
            <div class="text-center">
              <%= image_tag(asset_path("image200.png"), class: "w-50", alt: "") %>
            </div>
          </div>
          <div class="col-md-7 d-none d-md-block">
            <%= image_tag(asset_path("image120.jpg"), class: "img-thumbnail shadow-sm rounded-0", alt: "") %>
          </div>
        </div>
        <!---------------------------------------- 夏 ---------------------------------------->
        <div class="row py-4">
          <div class="col-md-5 order-md-2">
            <div class="row mb-3 mx-0 mx-md-3">
              <div class="col-4">
                <div class="position-absolute bg-info rounded-circle season">
                  <div class="text-center text-white pt-2 h2 rounded-circle">夏</div>
                </div>
              </div>
              <div class="col-8">
                <ul class="list-unstyled">
                  <li>6月 保育参観</li>
                  <li>7月 プール開き
                    <ul class="list-unstyled pl-3">
                      <li>説明が入ります。</li>
                    </ul>
                  </li>
                  <li>7月 七夕お楽しみ会</li>
                  <li>7月 夏まつり</li>
                </ul>
              </div>
            </div>
            <div class="text-center">
              <%= image_tag(asset_path("image210.png"), class: "w-50", alt: "") %>
            </div>
          </div>
          <div class="col-md-7 d-none d-md-block">
            <%= image_tag(asset_path("image130.jpg"), class: "img-thumbnail shadow-sm rounded-0", alt: "") %>
          </div>
        </div>
        <!---------------------------------------- 秋 ---------------------------------------->
        <div class="row py-4">
          <div class="col-md-5">
            <div class="row mb-3 mx-0 mx-md-3">
              <div class="col-4">
                <div class="position-absolute bg-info rounded-circle season">
                  <div class="text-center text-white pt-2 h2 rounded-circle">秋</div>
                </div>
              </div>
              <div class="col-8">
                <ul class="list-unstyled">
                  <li>9月 運動会</li>
                  <li>10月 秋の遠足
                    <ul class="list-unstyled pl-3">
                      <li>説明が入ります。</li>
                    </ul>
                  </li>
                  <li>10月 ハロウィン</li>
                  <li>10月 保育参観</li>
                  <li>11月 お芋ほり大会</li>
                </ul>
              </div>
            </div>
            <div class="text-center">
              <%= image_tag(asset_path("image220.png"), class: "w-50", alt: "") %>
            </div>
          </div>
          <div class="col-md-7 d-none d-md-block">
            <%= image_tag(asset_path("image140.jpg"), class: "img-thumbnail shadow-sm rounded-0", alt: "") %>
          </div>
        </div>
        <!---------------------------------------- 冬 ---------------------------------------->
        <div class="row py-4">
          <div class="col-md-5 order-md-2">
            <div class="row mb-3 mx-0 mx-md-3">
              <div class="col-4">
                <div class="position-absolute bg-info rounded-circle season">
                  <div class="text-center text-white pt-2 h2 rounded-circle">冬</div>
                </div>
              </div>
              <div class="col-8">
                <ul class="list-unstyled">
                  <li>12月 おゆうぎ会</li>
                  <li>12月 クリスマス会
                    <ul class="list-unstyled pl-3">
                      <li>説明が入ります。</li>
                    </ul>
                  </li>
                  <li>1月 お餅つき</li>
                  <li>2月 豆まき</li>
                  <li>3月 ひな祭り</li>
                  <li>3月 年長さんお別れ会</li>
                  <li>3月 卒園式</li>
                </ul>
              </div>
            </div>
            <div class="text-center">
              <%= image_tag(asset_path("image230.png"), class: "w-50", alt: "") %>
            </div>
          </div>
          <div class="col-md-7 d-none d-md-block">
            <%= image_tag(asset_path("image150.jpg"), class: "img-thumbnail shadow-sm rounded-0", alt: "") %>
          </div>
        </div>
        <!---------------------------------------- 秋 ----------------------------------------> 
      </div>
    </div>
  </section>
  
  <!---------------------------------------- 1日の過ごし方 ---------------------------------------->
  <section class="py-5 position-relative" id="sec7">
    <div class="bg-white half half-lightblue"></div>
    <div class="text-center position-relative">
        <h2 class="h3 dot font-weight-bold pt-3 pb-5 px-0 mb-0">１日の過ごし方</h2>
    </div>
    <div class="container pb-5 position-relative">
      <div class="d-none d-md-block">
        <%= image_tag(asset_path("image160.jpg"), class: "rounded-circle position-absolute", alt: "", style: "top:20%; left:0;") %>
        <%= image_tag(asset_path("image170.jpg"), class: "rounded-circle position-absolute", alt: "", style: "bottom:20%; left:0;") %>
        <%= image_tag(asset_path("image180.jpg"), class: "rounded-circle position-absolute", alt: "", style: "top:30%; right:0;") %>
        <%= image_tag(asset_path("image190.jpg"), class: "rounded-circle position-absolute", alt: "", style: "bottom:5%; right:0;") %>
      </div>
      <div class="d-block d-md-none">
        <ul class="list-unstyled">
          <li><i class="fas fa-moon"></i>...つき組（年長）</li>
          <li><i class="fas fa-star"></i>...ほし組（年中）</li>
          <li><i class="fas fa-rainbow"></i>...にじ組（年少）</li>
          <li><i class="fas fa-feather"></i>...ひよこ組（3歳児保育）</li>
        </ul>
      </div>
      <div class="d-none d-md-block">
        <div class="row mb-2">
          <h3 class="h4 col-5 text-right font-weight-bold title pb-3 text-info"><i class="fas fa-moon text-info"></i>つき組・<i class="fas fa-star text-info"></i>ほし組</h3>
          <div class="col-2"></div>
          <h3 class="h4 col-5 font-weight-bold title pb-3 text-info"><i class="fas fa-rainbow mx-2 text-info"></i>にじ組・<i class="fas fa-feather mx-2 text-info"></i>ひよこ組</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-5 text-right d-none d-md-block">
          <ul class="list-unstyled">
            <li>登園</li>
            <li>自由あそび</li>
          </ul>
        </div>
        <div class="col-4 col-md-2 stripe">
          <div class="bg-white text-center font-weight-bold rounded-pill border border-info">7：00</div>
        </div>
        <div class="col-8 col-md-5 pl-0 pl-md-3">
          <ul class="list-unstyled">
            <li>登園<span class="d-inline-block d-md-none"><i class="fas fa-moon mx-1"></i><i class="fas fa-star mx-1"></i><i class="fas fa-rainbow mx-1"></i><i class="fas fa-feather mx-1"></i></span></li>
            <li>自由あそび</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 text-right d-none d-md-block">
          <ul class="list-unstyled">
            <li>クラス別保育</li>
          </ul>
        </div>
        <div class="col-4 col-md-2 stripe">
          <div class="bg-white text-center font-weight-bold rounded-pill border border-info">9：00</div>
        </div>
        <div class="col-8 col-md-5 pl-0 pl-md-3">
          <ul class="list-unstyled">
            <li>クラス別保育<span class="d-inline-block d-md-none"><i class="fas fa-moon mx-1"></i><i class="fas fa-star mx-1"></i><i class="fas fa-rainbow mx-1"></i><i class="fas fa-feather mx-1"></i></span></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 text-right d-none d-md-block">
          <ul class="list-unstyled">
            <li>給食準備</li>
          </ul>
        </div>
        <div class="col-4 col-md-2 stripe">
          <div class="bg-white text-center font-weight-bold rounded-pill border border-info">11：00</div>
        </div>
        <div class="col-8 col-md-5 pl-0 pl-md-3">
          <ul class="list-unstyled">
            <li>給食準備</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 text-right d-none d-md-block">
          <ul class="list-unstyled">
            <li>給食</li>
          </ul>
        </div>
        <div class="col-4 col-md-2 stripe">
          <div class="bg-white text-center font-weight-bold rounded-pill border border-info">11:30</div>
        </div>
        <div class="col-8 col-md-5 pl-0 pl-md-3">
          <ul class="list-unstyled">
            <li>給食</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 text-right d-none d-md-block">
          <ul class="list-unstyled">
            <li>外遊び</li>
          </ul>
        </div>
        <div class="col-4 col-md-2 stripe">
          <div class="bg-white text-center font-weight-bold rounded-pill border border-info">13：00</div>
        </div>
        <div class="col-8 col-md-5 pl-0 pl-md-3">
          <ul class="list-unstyled">
            <li>外遊び</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 text-right d-none d-md-block">
          <ul class="list-unstyled">
            <li>お昼寝</li>
          </ul>
        </div>
        <div class="col-4 col-md-2 stripe">
          <div class="bg-white text-center font-weight-bold rounded-pill border border-info">14：00</div>
        </div>
        <div class="col-8 col-md-5 pl-0 pl-md-3">
          <ul class="list-unstyled">
            <li>お昼寝</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 text-right d-none d-md-block">
          <ul class="list-unstyled">
            <li>おやつ</li>
          </ul>
        </div>
        <div class="col-4 col-md-2 stripe">
          <div class="bg-white text-center font-weight-bold rounded-pill border border-info">15：00</div>
        </div>
        <div class="col-8 col-md-5 pl-0 pl-md-3">
          <ul class="list-unstyled">
            <li>おやつ</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 text-right d-none d-md-block">
          <ul class="list-unstyled">
            <li>降園</li>
            <li>延長保育</li>
          </ul>
        </div>
        <div class="col-4 col-md-2 stripe">
          <div class="bg-white text-center font-weight-bold rounded-pill border border-info">16：00</div>
        </div>
        <div class="col-8 col-md-5 pl-0 pl-md-3">
          <ul class="list-unstyled">
            <li>降園</li>
            <li>延長保育</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 text-right d-none d-md-block">
          <ul class="list-unstyled">
            <li>全員降園</li>
          </ul>
        </div>
        <div class="col-4 col-md-2">
          <div class="bg-white text-center font-weight-bold rounded-pill border border-info">19：00</div>
        </div>
        <div class="col-8 col-md-5 pl-0 pl-md-3">
          <ul class="list-unstyled">
            <li>全員降園</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</main>

<%= render "layouts/footer" %>