<footer class="position-relative pt-5"> 
  <div class="half bg-info"></div>
  <div class="bg-info pb-3 position-relative">
    <div class="container mt-3">
      <ul class="d-md-flex justify-content-center justify-content-md-between flex-wrap h6 list-unstyled pb-4">
        <li class="mb-3 mb-md-0">
          <%= link_to "SAMPLE園の特色", "#sec1", class: "text-white mr-1" %>
        </li>
        <span class="text-white d-none d-md-block">|</span>
        <li class="mb-3 mb-md-0">
          <%= link_to "SAMPLE園のようす", "#sec2", class: "text-white mr-1" %>
        </li>
        <span class="text-white d-none d-md-block">|</span>
        <li class="mb-3 mb-md-0">
          <%= link_to "お知らせ", "#sec3", class: "text-white mr-1" %>
        </li>
        <span class="text-white d-none d-md-block">|</span>
        <li class="mb-3 mb-md-0">
          <%= link_to "今月の予定", "#sec4", class: "text-white mr-1" %>
        </li>
        <span class="text-white d-none d-md-block">|</span>
        <li class="mb-3 mb-md-0">
          <%= link_to "園児&amp;職員募集", "#sec", class: "text-white mr-1" %>
        </li>
        <span class="text-white d-none d-md-block">|</span>
        <li class="mb-3 mb-md-0">
          <%= link_to "年間行事", "#", class: "text-white mr-1" %>
        </li>
        <span class="text-white d-none d-md-block">|</span>
        <li class="mb-3 mb-md-0">
          <%= link_to "１日の過ごし方", "#", class: "text-white mr-1" %>
        </li>
        <span class="text-white d-none d-md-block">|</span>
        <li class="mb-3 mb-md-0">
          <%= link_to "お問合わせ", "#", class: "text-white mr-1" %>
        </li>
      </ul>
      <div class="row px-md-0">
        <div class="col-md-6">
          <p class="text-white h5 font-weight-bold">SAMPLE園</p>
          <p class="text-white mb-0">〒123-4567</p>
          <p class="text-white">東京都港区芝8丁目0-0</p>
        </div>
        <div class="col-md-6">
          <p class="text-white mb-1"><i class="fas fa-phone mr-2"></i>03-1234-5678</p>
          <p class="text-white mb-1"><i class="fas fa-fax mr-2"></i>03-1234-5678</p>
          <p class="text-white mb-1"><i class="far fa-envelope mr-2"></i>info@example.com</p>
        </div>
      </div>
    </div>
    <hr style="border-color: #fff;">
    <p class="mb-0 pt-2 text-white text-center mod-copyright">&copy;&ensp;SampleSchool All Rights Reserved.</p>
    <div class="row"> </div>
  </div>
</footer>