<header>
  <div class="container-fluid position-relative px-0">
    <h1 class="display-4 catch-copy">キャッチコピーが入ります。</h1>
    <div class="mod-gnav position-absolute w-100" style="bottom: 0;">
      <div class="position-relative pt-5">
        <div class="half bg-info"></div>
        <div class="container">
          <div class="position-relative text-center bg-info">
            <%= image_tag(asset_path("logo.png"), class: "logo", alt: "") %>
          </div>
        </div>
        <div class="bg-info py-3">
          <div class="container px-0">
            <nav class="navbar navbar-expand-md navbar-light mb-3 px-md-0">
              <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#Navbar" aria-controls="Navbar" aria-expanded="false" aria-label="ナビゲーションの切替"> <span class="navbar-toggler-icon"></span> </button>
              <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav w-100 justify-content-around">
                  <li class="nav-item">
                    <%= link_to "SAMPLE園の特色", root_path(anchor: "sec1"), class: "nav-link text-info" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "SAMPLE園のようす", root_path(anchor: "sec2"), class: "nav-link text-info" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "お知らせ", root_path(anchor: "sec3"), class: "nav-link text-info" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "今月の予定", root_path(anchor: "sec4"), class: "nav-link text-info" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "園児＆職員募集", root_path(anchor: "sec5"), class: "nav-link text-info" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "年間行事", information_path(anchor: "sec6"), class: "nav-link text-info" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "１日の過ごし方", information_path(anchor: "sec7"), class: "nav-link text-info" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "お問合わせ", contact_path, class: "nav-link text-info" %>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>